.btn {
    border: none;
    padding: 8px 25px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
    display: inline-block;
    box-shadow: 0 8px 15px -5px rgba(var(--grey-color), 0.5);
}

.btn:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: var(--btn-primary-color);
    color: var(--btn-primary-text);
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover);
}

.btn-secondary {
    background-color: var(--btn-secondary-color);
    color: var(--btn-secondary-text);
}

.btn-secondary:hover {
    background-color: var(--btn-secondary-hover);
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    /* background:
        radial-gradient(circle at 20% 30%, rgba(255, 0, 150, 0.2), transparent 20%),
        radial-gradient(circle at 80% 40%, rgba(0, 200, 255, 0.2), transparent 20%),
        radial-gradient(circle at 50% 80%, rgba(100, 46, 226, 0.2), transparent 20%); */
}

.section-title {
    margin-bottom: 30px;
    font-size: 3rem;
    text-align: center;
    color: var(--text-color);
}

.section-desc {
    text-align: center;
    color: rgb(var(--grey-color));
}

@keyframes moveBlobs {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 50% 50%; }
  100% { background-position: 100% 100%; }
}